<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>febri.co.id</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div class="user">
        <img src="image.jpg" alt="">
        <h3 class="name">FEBRIANSYAH</h3>
        <p class="post">2020/2022</p>
    </div>    
</header>

<div id="menu" class="fas fa-bars"></div>
<section class="home" id="home">
    <h3>WELCOME!</h3>
    <h1>I'M <span>FEBRIANSYAH</span></h1>
    <p>jadi manusia jangan terlalu berharap, nanti sakit!</p>
 <!--   <h1 class="heading"> <span>Pebri</span>Kaito</h1> -->
   

</section>
<section class="contact" id="contact">
<h1 class="heading"> <span>NEW</span>API</h1>
<li><a href="/api/pinterest?query=kurumi&apikey=YOUR_APIKEY"><button class="btn">pinterest</button></a></li>
<li><a href="/api/wallml?apikey=YOUR_APIKEY"><button class="btn">wallml</button></a></li>
    <li><a href="/api/wallrandom?apikey=YOUR_APIKEY"><button class="btn">wallrandom</button></a></li>
    <li><a href="/api/wallcode?apikey=YOUR_APIKEY"><button class="btn">wallcode</button></a></li>
    <li><a href="/api/wallneon?apikey=YOUR_APIKEY"><button class="btn">wallneon</button></a></li>
    <li><a href="/api/wallpubg?apikey=YOUR_APIKEY"><button class="btn">wallpubg</button></a></li>

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>